body, html {
    height: 100%;
    background-color: #b65741
    margin: 0%;
    font-family: monospace;
    text-align: left;
    text-decoration: #76323f;
}

.navbar-brand  {
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0;
    text-align: center;
    margin: auto;
    background-image: url(portfolio.jpeg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}
p  {
    color: #A7B3AS;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color:#685046;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: #731E23;
  }
  .column {
    width: 220px;
    float: left;
    padding: 15px;
  }
}

