 /*import font*/
 @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

 * {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
 }
 html,body {
    margin:0px;
    padding:0px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-transform:initial;
 }
 body{
    background-image:url(../assets/images/background/bg.jpg);
    background-size: cover;  
 }
 /* start navigation*/
 #topNav{
     text-transform:uppercase;
 }
 .navbar {
     padding: 1.4rem 20rem;
 }
.navbar .navbar-nav.nav-item .nav-link{ 
     font: normal;
     text-transform: uppercase;
     font-weight: 100;
     padding: 1rem;
     color:purple;
 }
 .navbar .navbar-nav.nav-item :active {
     background-color: darkgrey;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
 }
 @media screen and (min-width: 768px) {
    #topNav {
      align-content: flex-start;
      width: 100%;
    }
  }
  @media screen and (max-width: 992px) {
      .img{
          align-content: flex-start;
      }

 .header_area .main-menu .navbar .navbar-nav :hover {
     background-color:purple;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
 }
 #navmenu {
     text-transform: uppercase;
 }
}