body, html {
    height: 100%;
    background-color: #d7cec7;
    margin: 0%;
    font-family: monospace;
    text-align: left;
    text-decoration: #76323f;
}
.col {
    height: 100%;
    background: color #c09f80; ;
    background-position: left;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;   
}
p {
    background-color: #A7B3AS;

}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
    h1, .h1 {
      font-size: 2.5rem;
}